.navbar {
	width: 100%;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
}

main {
	position: relative;
	margin-top: 70px;
	min-height: 100%;	 
}

.login_page {
	position: relative;
	margin-top: 170px;
	margin-bottom: 70px;
	min-height: 100%;	 
}

.registration_page {
	position: relative;
	margin-top: 110px;
	margin-bottom: 35px;
	min-height: 100%;	 
}

.password_recovery_page{
	position: relative;
	margin-top: 200px;
	min-height: 100%;	 
}

.login_alert {
	position: relative;
	margin-top: -100px;
	min-height: 100%;	 
}

.registration_alert {
	position: relative;
	margin-top: -40px;
	margin-bottom: 30px;
	min-height: 100%;	 
}

.password_recovery_alert {
	position: relative;
	margin-top: -130px;
	margin-bottom: 80px;
	min-height: 100%;	 
}

.albums_page{
	position: relative;
	margin-top: 110px;
	min-height: 100%;	 
}

.albums_alert{
	position: relative;
	margin-bottom: -70px;
	min-height: 100%;	 
}

#update_button {
	position: relative;
	margin-top: 40px;
	min-height: 100%;	 
}

#navbarHeader {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	margin-top: 50px;
	width: 100%;
}

.dropdown:hover>.dropdown-menu {
	display: block;
}